html {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: royalblue;
}

body {
    margin: 0;
    padding: 0;
    min-width: 300px;
}

h1 {
    height: 100vh;
    margin: 0;
    color: white;
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 10vw;
    }

    #heed {
        font-size: 2vw;
    }

    #description {
        font-size: 3vw;
    }

    #ranking {
        font-size: 4vw;
    }
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
    h1 {
        font-size: 10vw;
    }

    #description {
        font-size: 2.5vw;
    }

    #ranking {
        font-size: 4.5vw;
    }

}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 7vw;
    }

    #description {
        font-size: 1.5vw;
        margin-bottom: 5%;
    }

    #ranking {
        font-size: 1vw;
    }
}

#description {
    height: 25vh;
    font-weight: bold;
    color: white;
}



#inputForm {
    height: 30vh;
    font-size: 2vw;
    background-color: royalblue;
}

textarea {
    width: 60vw;
    height: 20vh;
    border: 3px solid white;
    resize: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

li {
    list-style: none;
}

button {
    display: inline-block;
    max-width: 300px;
    text-align: left;
    border: 2px solid white;
    font-size: 16px;
    color: white;
    background-color: royalblue;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
}

button:hover {
    background-color: white;
    border-color: white;
    color: royalblue;
}

button:disabled {
    border-color: grey;
    color: grey;
    background-color: darkgray;
}

#analyzeButton {
    margin-top: 40%;
}

#tweetButton {
    margin: 5%;
}

#ranking {
    font-weight: bold;
    color: white;
}

#loader {
    font-size: 3vw;
    font-weight: bold;
    height: 20vw;
    color: white;
}

#result {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}