html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-width: 300px;
}

h1 {
    height: 100vh;
    margin: 0;
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 10vw;
    }

    #heed {
        font-size: 2vw;
    }

    #description {
        font-size: 3vw;
    }
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
    h1 {
        font-size: 10vw;
    }

    #description {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 7vw;
    }

    #description {
        font-size: 1.5vw;
    }
}

#description {
    height: 25vh;
    font-weight: bold;
}



#inputForm {
    height: 30vh;
    font-size: 2vw;
}

textarea {
    width: 60%;
    height: 40%;
    border: 2px solid royalblue;
    resize: none;
}

.center {
    display: flex;
    /* 要素をflexboxに対応させる */
    align-items: center;
    /* 縦方向の中央揃え */
    justify-content: center;
    /* 横方向の中央揃え */
    flex-direction: column;
    /* 子要素の並びを上から下にする（要素の改行に対応） */
    width: 100%;
}

li {
    list-style: none;
}

#ranking {
    font-size: 3.6vw;
}

button {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid royalblue;
    font-size: 16px;
    color: royalblue;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
}

button:hover {
    background-color: #9ec34b;
    border-color: #cbe585;
    color: #FFF;
}

button:disabled {
    border-color: grey;
    color: grey;
    background-color: darkgray;
}

#analyzeButton {
    margin-top: 40%;
}

#tweetButton {
    margin-top: 10%;
}